*.pyc
*.pyo
*.egg-link
*.egg-info
*.rpm
*log.txt
*.log
*.db
*.flv
*.orig
*~
.rnd
*.pdf
*.o
*.a
*.so

pkg.tar
rpm.spec
XXXX-*.tgz

coverage.xml
.coverage
profile.*
log
nosetests.xml

RELEASE

/conf/init.d/XXXX.rc
/conf/XXXX.conf
/conf/redis.conf

/docs/api/modules.rst
/docs/api/setup.rst
/docs/api/XXXX.*.rst
/docs/api/XXXX.rst

/.installed.cfg

/build/
/bin/
/doc/
/docs/coverage/
/docs/api/build/
/downloads/
/dist/
/eggs/
/html/
/include/
/logs/
/local/
/lib/
/parts/
/run/
/share/doc/
/share/man/
/temp/


